body{
    background-color: #202020;
    color: white;
}

#koule1{
    position: absolute;
    top: 310px;
    right: 527px;
    z-index: -3;
}

#koule2{
    position: absolute;
    left: 573px;
    bottom: 380px;
    z-index: -3;
}

.karta{
    width: 296px;
    height: 173px;
    border-radius: 24px;
    background: linear-gradient(112.48deg, rgba(255, 255, 255, 0.1) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.horejsek{
    display: flex;
    justify-content: space-around;
}

.jmeno{
    display: flex;
    position: absolute;
    top: 50px;
    left: 20px;
    max-width: 150px;
}

.datum{
    position: absolute;
    left: 20px;
    top: 120px;
}

.veverkaa img{
    position: relative;
    right: 41px;
    bottom: 30px;
    height: 200px;
}

.cislo{
    display: flex;
    position: absolute;
    left: 20px;
    top: 65px;
}

.nevim{
    position: absolute;
    left: 20px;
    top: 105px;
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.master{
    display: flex;
    position: absolute;
    right: 180px;
}

.vse{
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi{
    position: absolute;
    right: 10px;
    top: -5px;
    margin-top: 12px;
}

.vnitrek{
    box-sizing: border-box;

    position: absolute;
    width: 500px;
    height: 260px;
    left: 200px;
    top: 40px;
    z-index: -2;

    background: linear-gradient(112.48deg, rgba(255, 255, 255, 0.1) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(20px);

    border-radius: 24px;
    border-style: inset;
    border-color: white;

}

