body{
    background-color: gray;
    color: white;
}

#koule1{
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: -1;
}

#koule2{
    position: absolute;
    left: 130px;
    bottom: 200px;
    z-index: -1;
}

.karta{
    position: relative;
    top: 50px;
    padding: 50px;
}

.horejsek{
    display: flex;
    justify-content: space-around;
}

.jmeno{
    display: flex;
    justify-content: center;
    max-width: 450px;
}

.datum{
    display: flex;
    justify-content: center;
    max-width: 390px;
    margin-top: -30px;
}

.veverkaa{
    position: relative;
    left: 300px;
    bottom: 150px;
}

.cislo{
    display: flex;
    justify-content: center;
    max-width: 630px;
    margin-top: -40px;
}

.nevim{
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.master{
    display: flex;
}

#wifi{
    margin-top: 12px;
}